{% extends "base.html" %}
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'portfolio/styles.css' %}"/>
{% endblock %}

{% block title %}
	My portfolio
{% endblock %}

{% block content %}
	<header>
    <h1>Nom du développeur</h1>
    <p>Développeur web</p>
    <nav>
      <a href="#about">À propos</a>
      <a href="#projects">Projets</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
  <main>
    <section id="about">
      <h2>À propos</h2>
      <p>Une courte présentation du développeur, ses compétences, ses expériences, etc.</p>
    </section>
    <section id="projects">
      <h2>Projets</h2>
      <ul>
        </ul>
    </section>
    <section id="contact">
      <h2>Contact</a>
      <p>Les coordonnées du développeur, telles que son adresse e-mail, son numéro de téléphone et ses réseaux sociaux.</p>
    </section>
  </main>
  <footer>
    &copy; Copyright 2023
  </footer>
{% endblock %}